/* packages/ui/src/FormControls.module.css */
.formControl {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
  color: #333;
}

.input,
.select,
.textarea {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box; /* Ensures padding and border don't increase width */
}

.input:focus,
.select:focus,
.textarea:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.inputError,
.selectError,
.textareaError {
  border-color: #dc3545; /* Red for error */
}

.errorMessage {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: #dc3545; /* Red for error */
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.checkboxInput {
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.checkboxLabel {
  font-weight: normal; /* Checkbox labels are typically not bold */
  color: #333;
}
