# Example Environment Variables
# NEXT_PUBLIC_API_URL=http://localhost:3000/api

# URL for local Supabase Edge Functions.
# This should be changed for production/staging environments.
NEXT_PUBLIC_SUPABASE_FUNCTIONS_URL="http://localhost:54321/functions/v1" # Adjust if your local Supabase port is different
